@import 'jeet'

.note-input
  center(50vw)
  height 60px
  background-color white

input
  col(0.83)
  height 65px
  outline none
  border none
  background-color transparent
  padding-left 10px
  font-size: 20px;

button
 col(0.15)
 outline none
 cursor pointer
 background-color transparent
 border none
 min-height 35px
 text-align center
 font-size 1.3rem
 margin-top 10px
 text-transform capitalize

  